<%= javascript_include_tag "sorttable" %>
<%= stylesheet_link_tag "access" %>


<a href="/access/index"> Back to Home </a>

<h1 style="width:100%; position: relative; float:left; margin-bottom: 30px; text-align: left">Player info</h1>

<div>
  Username : <%= @player.username %>
</div>
<div>
  Registered : <%= @player.created_at.strftime("%d-%m-%Y") %>
</div>


<h1 style="width:100%; position: relative; float:left; margin-bottom: 30px; text-align: center">Awards</h1>

<div style="width: 100%; position: relative; float:left">
  <% @player.player_awards.each do |player_award| %>
      <div style="margin: 0; width: 25%; position: relative; float:left; height: 180px;">

          <img src="<%=player_award.award.image%>" style="height: 80%; "/>

        <div style="position:relative; float: left; width: 100%; text-align: center;">
          <b><%=player_award.award.name%></b>
        </div>
        <div style="position:relative; float: left; width: 100%; size: 4px; text-align: center;">
          <i><%=player_award.award.created_at.strftime("%d-%m-%Y")%></i>
        </div>
      </div>
  <% end %>
</div>

<h1 style="width:100%; position: relative; float:left; margin-bottom: 30px; text-align: center">History</h1>

<div style="width:40%; position:relative; float: left">
  <h2 style="width:100%; position:relative; float: left; text-align: center">
    Overall ranking
  </h2>
  <table style="width:100%; position: relative; float: left;" class="sortable">
    <tr>
      <th>Score</th>
      <th>Rank</th>
      <th>Date</th>
    </tr>


    <% orderdScores = @player.player_histories.order(created_at: :desc) %>
    <% orderdScores.each do |player_history| %>

        <tr>
          <td align="center"><%= player_history.score %></td>
          <td align="center"><%= orderdScores.where('score >= ?', player_history.score).count %></td>
          <td align="center"><%= player_history.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
        </tr>

    <% end %>
  </table>
</div>

<div style="width:40%; position:relative; float: right">
  <h2 style="width:100%; position:relative; float: left; text-align: center">
    Weekly ranking
  </h2>
  <table style="width:100%; position: relative; float: left;" class="sortable">
    <tr>
      <th>Score</th>
      <th>Rank</th>
      <th>Date</th>
    </tr>

    <% d = Date.today %>
    <% orderdScores = @player.player_histories.where('created_at >= ? and created_at <= ?', d.at_beginning_of_week, d.at_beginning_of_week + 7.days).order(created_at: :desc) %>
    <% orderdScores.each do |player_history| %>
        <tr>
          <td align="center"><%= player_history.score %></td>
          <td align="center"><%= orderdScores.where('score >= ?', player_history.score).count %></td>
          <td align="center"><%= player_history.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
        </tr>
    <% end %>
  </table>
</div>